* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    h1 {
        text-align: center;
        padding: 10px;
        background: brown;
        color: white;
    }
}

.game {
    .tic-tac {
        width: 90%;
        margin: 5px auto;
        //min-height: 10vh;
        //background: green;
        .row {
            display: flex;
            .box {
                $twith: 100%;
                $pattern: 3;
                $dividing: $twith / $pattern;
                width: $dividing;
                
                min-height: 20vh;
                border: 3px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                font-weight: bold;
                //margin: 5px;
                transition: 0.5s;
                &:hover {
                    background: rgb(46, 57, 105);
                    color: white;
                }
            }
            &:nth-child(1) {
                .box {
                    //background: green;
                    &:nth-child(1) {
                        border-top: 0px;
                        border-left: 0px;
                    }
                    &:nth-child(2) {
                        border-top: 0px;
                        //border-left: 0px;
                    }
                    &:nth-child(3) {
                        border-top: 0px;
                        border-right: 0px;
                    }
                }
            }
            &:nth-child(2) {
                .box {
                    //background: green;
                    &:nth-child(1) {
                        //border-top: 0px;
                        border-left: 0px;
                    }
                    &:nth-child(2) {
                        //border-top: 0px;
                        //border-left: 0px;
                    }
                    &:nth-child(3) {
                        //border-top: 0px;
                        border-right: 0px;
                    }
                }
            }
            &:nth-child(3) {
                .box {
                    //background: green;
                    &:nth-child(1) {
                        border-bottom: 0px;
                        border-left: 0px;
                    }
                    &:nth-child(2) {
                        border-bottom: 0px;
                        //border-left: 0px;
                    }
                    &:nth-child(3) {
                        border-right: 0px;
                        border-bottom: 0px;
                    }
                }
            }
        }
    }
}
